.footer {
  padding: 50px 80px;
  align-items: right;
  text-align: right;
  @include desktop {
    padding: 50px;
  }
  @include weird-medium {
    display: block;
  }
  @include mobile {
    padding: 50px 30px;
  }
  &__copyright {
    font-weight: 700;
    @include weird-medium {
      width: auto;
      text-align: center;
      margin-bottom: 25px;
    }
    .top, .bottom {
      @include weird-medium {
        display: inline-block;
      }
      @include mobile {
        display: block;
      }
    }
    .emoji {
      width: 20px;
      height: 20px;
      margin: 0 3px;
      vertical-align: text-bottom;
    }
  }
}
