.footer {
  padding: 50px 80px;
  align-items: right;
  text-align: right;
  @include desktop {
    padding: 30px;
  }
  @include weird-medium {
    display: block;
  }
  @include mobile {
    padding: 30px 30px;
  }
  &__socials {
    display: none;

    @include desktop {
      display: block;

      ul {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
          margin: 0 6px;

          a {
            padding: 4px;
            display: inline-block;

            &:hover, &:focus {
              transform: translateY(-3px);
              color: $blue;
            }
          }
        }
      }

    }
  }
  &__copyright {
    font-weight: 700;
    @include desktop {
      margin-top: 10px;
      width: auto;
      text-align: center;
      margin-bottom: 25px;
    }
    .top, .bottom {
      @include weird-medium {
        display: inline-block;
      }
      @include mobile {
        display: block;
      }
    }
    .emoji {
      width: 20px;
      height: 20px;
      margin: 0 3px;
      vertical-align: text-bottom;
    }
  }
}
