.left-side-socials {
    width: 40px;
    position: fixed;
    bottom: 0;
    left: 20px;
    right: auto;
    z-index: 10;

    @include desktop {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;

        li:last-of-type {
            margin-bottom: 20px;
        }

        a {
            padding: 10px;
            display: inline-block;

            &:hover, &:focus {
                transform: translateY(-3px);
                color: $blue;
            }
        }

        &::after {
            content: "";
            display: block;
            width: 1px;
            height: 90px;
            background-color: $blue;
            margin: 0 auto;
        }
    }
}
