.socials {
    width: 40px;
    position: fixed;
    bottom: 0;
    left: 40px;
    right: auto;
    z-index: 10;
    //color: rgb(168, 178, 209);

    ul {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            margin: 14px 0;
        }

        &::after {
            content: "";
            display: block;
            width: 1px;
            height: 90px;
            background-color: $blue;
            margin: 0 auto;
        }
    }

    img {
        width: 26px;
        fill: green;
    }
}
