<section class="section background">
    <div class="section__title">Background</div>
    <div class="section__content">
      <p>Hi! I'm Max, a fullstack developer based in Bangkok, Thailand.</p>

      <p>
        Shortly after getting a master's degree from <a class="underline-link" href="https://web.ncku.edu.tw/" target="_blank">
        NCKU</a> in Taiwan, I joined the digital office team at
        <a class="underline-link" href="https://web.ncku.edu.tw/" target="_blank">SCG</a>
        where I work with a highly-skilled team with variety of interesting and innovative projects.
        Mainly, I focus on frontend stuff and filling the gap in the team.
      </p>
      <p>
        As a developer, I love to write neat code following conventions and best practices. I always try to make 
        best practices of every written code. My goal is always to build applications that are readable and maintainable.
      </p>
      <p>
        <strong>While I'm away from the computer</strong>, I love reading the Bible, watching football (a huge fan of Chelsea), playing games, and strumming guitar.
      </p>
      <p>
        <strong>I'm also passionate about</strong> learning languages, technology trends, and self-leaning.
      </p>
      <!-- {% include employment-status.html %} -->
    </div>
</section>
