<section class="section background">
    <div class="section__title">Background</div>
    <div class="section__content">
      <p>Hi! I'm Max, a fullstack developer based in Bangkok, Thailand.</p>

      <p>
        Shortly after getting a master's degree from <a class="underline-link" href="https://web.ncku.edu.tw/" target="_blank">
        NCKU</a> in Taiwan, I joined the digital office team at
        <a class="underline-link" href="https://www.scg.com/innovation/en/" target="_blank">SCG</a>
        where I work with a highly-skilled team with variety of interesting and innovative projects.
      </p>
      <p style="margin-bottom: 10px">
        <strong>My main tasks here are:</strong>
      </p>
      <ul style="list-style: inside; margin-top: 10px; margin-bottom: 25px">
        <li>
          <strong>Coordinate</strong> with other teams (BA, Design, SA, Infra, Clients), do sprint planning, and assign tasks to team members
        </li>
        <li>
         <strong>Lead and guide</strong> junior team members
        </li>
        <li>
          <strong>Initiate</strong> well-structured projects (backend and frontend) and always adopt code conventions
          and best practices to the team
        </li>
        <li>
          Responsible for complex tasks and issues both for backend and frontend
        </li>
      </ul>
      <p>
        As a developer, I love to write neat code following conventions and best practices. I always try to make 
        best practices of every written code. My goal is always to build applications that are readable and maintainable.
      </p>
      <p>
        I’m not only fascinated by the technical side but also the business and design side. I believe that understanding business altogether with design can make me a better developer.
      </p>
      <p>
        <strong>While I'm away from the computer</strong>, I love reading the Bible, watching football (a huge fan of Chelsea), playing games, and strumming guitar.
      </p>
      <p>
        <strong>I'm also passionate about</strong> learning languages, web technology trends, code conventions and practices, cryptocurrency investment, blockchain.
      </p>
      <!-- {% include employment-status.html %} -->
    </div>
</section>
