<section class="section background">
    <div class="section__title">Background</div>
    <div class="section__content">
        <p>
            I recently got a master's degree from
            <a class="underline-link" href="https://web.ncku.edu.tw/" target="_blank">National Cheng Kung University</a>
            in Taiwan. I've done internships at several companies such as,
            <a class="underline-link" href="https://career.scg.com/en/internship/excellent_internship_program" target="_blank">SCG</a>,
            <a class="underline-link" href=https://www.sellsuki.co.th/" target="_blank">Sellsuki</a>, and
            <a class="underline-link" href="http://placement.mfu.ac.th/" target="_blank">Division of Placement and Co-Operation Education MFU</a>
        </p>

        <p>
            As a solo freelance web developer, I'm responsible for end-to-end web development.
            I've built a number of web applications such as, university systems, e-commerce web app,
            dormitory website, currency exchange web app. My goal is to always build applications that are readable
            and maintainable.
        </p>

        <p>
            <strong>I'm passionate about</strong> leaning language, technology trends, and self-leaning.
        </p>

         {% include employment-status.html %}
    </div>
</section>
