<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project">
      <figure class="project__pic">
        <a href="https://jobs.mfu.ac.th" target="_blank">
          <img src="{{site.baseurl}}/img/featured/jobs/home.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://jobs.mfu.ac.th" target="_blank">MFU JOBS System</a>
          <div class="links">
            <span>
              <a href="https://jobs.mfu.ac.th" target="_blank"><i class="ri-external-link-fill ri-lg"></i></a>
            </span>
          </div>
        </div>
        <p class="project__caption__detail">The MFU JOBS system comprises two subsystems. The first is a web application provided by the university to help students find their desired jobs. Companies can also access this platform to create profiles and post job openings. <br/>

          The second subsystem is a web application specifically designed for students to submit part-time job application forms for positions within the university. This application integrates with the university’s REG system via a REST API, enabling single sign-on (SSO) authentication and retrieving student information (e.g., class schedules, profile details, and photos) when submitting applications. <br/>
          
          Additionally, administrators use this web app to manage part-time job data, including applications, cost allocations, job postings, and other related tasks.</p>
        <div class="project__caption__used">
          <span class="project__caption__used__item">Nuxtjs (Frontend)</span>
          <span class="project__caption__used__item">Vuetify</span>
          <span class="project__caption__used__item">Laravel (API)</span>
          <span class="project__caption__used__item">MYSQL</span>
        </div>
      </figcaption>
    </div>
    <div class="project">
      <figure class="project__pic">
        <div class="iframe-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/sOYK6bB14Y4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://pre-internship.mfu.ac.th/" target="_blank">MFU Pre-internship Online V2</a>
          <div class="links">
            <span>
              <a href="https://pre-internship.mfu.ac.th/" target="_blank"><i class="ri-external-link-fill ri-lg"></i></a>
            </span>
            <!-- <span>
              <a href="https://github.com/sarapmax/MFU-Pre-Internship-Online" target="_blank"><i class="ri-github-fill ri-lg"></i></a>
            </span> -->
          </div>
        </div>
        <p class="project__caption__detail">This is the second version of the MFU Pre-Internship Online system, originally developed several years ago. <br/>
          It has been completely rebuilt from the ground up, incorporating the original requirements along with numerous additional features. <br/>
          The purpose of this redevelopment is to address bottlenecks, fulfill new requirements, enhance performance, and improve the overall user interface and user experience (UI/UX), ensuring the system is more user-friendly and fully responsive across devices.
        </p>
        <div class="project__caption__used">
          <span class="project__caption__used__item">Nuxtjs (Frontend)</span>
          <span class="project__caption__used__item">Laravel (API)</span>
          <span class="project__caption__used__item">Vuetify</span>
          <span class="project__caption__used__item">TDD</span>
          <span class="project__caption__used__item">MYSQL</span>
          <span class="project__caption__used__item">YouTube API</span>
        </div>
      </figcaption>
    </div>
    <div class="project">
      <figure class="project__pic">
        <div class="iframe-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/CSU9odLwWXw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://internship.mfu.ac.th/" target="_blank">MFU Internship System</a>
          <div class="links">
            <span>
              <a href="https://internship.mfu.ac.th/" target="_blank"><i class="ri-external-link-fill ri-lg"></i></a>
            </span>
            <!-- <span>
              <a href="https://github.com/sarapmax/MFU-Job-Hunting-Online" target="_blank"><i class="ri-github-fill ri-lg"></i></a>
            </span> -->
          </div>
        </div>
        <p class="project__caption__detail">The MFU Internship System allows students to submit their internship applications and provide relevant information before, during, and after their internship period. <br/>
          It is also used by teachers to review and approve student applications, and by staff to manage back-office operations.</p>
        <div class="project__caption__used">
          <span class="project__caption__used__item">Laravel</span>
          <span class="project__caption__used__item">Vue</span>
          <span class="project__caption__used__item">Bootstrap</span>
          <span class="project__caption__used__item">MYSQL</span>
        </div>
      </figcaption>
    </div>
    <div class="project">
      <figure class="project__pic">
        <a href="http://jobhunting.mfu.ac.th/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/job-hunting/home.jpg" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="http://jobhunting.mfu.ac.th/" target="_blank">MFU Job Hunting</a>
          <div class="links">
            <span>
              <a href="http://jobhunting.mfu.ac.th/" target="_blank"><i class="ri-external-link-fill ri-lg"></i></a>
            </span>
            <!-- <span>
              <a href="https://github.com/sarapmax/MFU-Job-Hunting-Online" target="_blank"><i class="ri-github-fill ri-lg"></i></a>
            </span> -->
          </div>
        </div>
        <p class="project__caption__detail">(A previous version of MFU JOBS System) A web application provided by the university that helps students find their desired jobs.
          Companies can also access the platform to create profiles and post job opportunities.</p>
        <div class="project__caption__used">
          <span class="project__caption__used__item">Laravel</span>
          <span class="project__caption__used__item">Vue</span>
          <span class="project__caption__used__item">TailwindCSS</span>
          <span class="project__caption__used__item">TDD</span>
          <span class="project__caption__used__item">MYSQL</span>
        </div>
      </figcaption>
    </div>

    <div class="project">
      <figure class="project__pic">
        <a href="#" target="_blank">
          <img src="{{site.baseurl}}/img/featured/ivits/home.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="#" target="_blank">The Interactive Voice Interview Training System</a>
          <!-- <div class="links">
            <span>
              <a href="#" target="_blank"><i class="ri-external-link-fill ri-lg"></i></a>
            </span>
          </div> -->
        </div>
        <p class="project__caption__detail">The IVITS system was my thesis project during my master’s degree in Taiwan. It was researched and developed to help students enhance and refine their interview, investigation, and interrogation skills through virtual training. This approach offers an alternative to traditional methods, which are often time-consuming, labor-intensive, disruptive, and costly..</p>
        <div class="project__caption__used">
          <span class="project__caption__used__item">ASP.NET Core</span>
          <span class="project__caption__used__item">Vue</span>
          <span class="project__caption__used__item">Bootstrap</span>
          <span class="project__caption__used__item">MSSQL</span>
          <span class="project__caption__used__item">Azure Cognitive Services API </span>
          <span class="project__caption__used__item">Text-to-speech & Speech-to-text</span>
          <span class="project__caption__used__item">Crazytalk Animator Program</span>
        </div>
      </figcaption>
    </div>

    <div class="project">
      <figure class="project__pic">
        <div class="iframe-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/_N5zi4KktGc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="http://pre-internship.mfu.ac.th/" target="_blank">MFU Pre-internship Online</a>
          <div class="links">
            <span>
              <a href="http://pre-internship.mfu.ac.th/" target="_blank"><i class="ri-external-link-fill ri-lg"></i></a>
            </span>
            <!-- <span>
              <a href="https://github.com/sarapmax/MFU-Pre-Internship-Online" target="_blank"><i class="ri-github-fill ri-lg"></i></a>
            </span> -->
          </div>
        </div>
        <p class="project__caption__detail">MFU Pre-internship Online is used to prepare third and fourth-year students (about 2,000 per year)
          to be ready for their upcoming internships. The web app requires students to do several things to pass
          the program such as, watching videos & taking quizzes, doing assessments, printing out the result.
        </p>
        <div class="project__caption__used">
          <span class="project__caption__used__item">Laravel</span>
          <span class="project__caption__used__item">AngularJS</span>
          <span class="project__caption__used__item">Bootstrap</span>
          <span class="project__caption__used__item">MYSQL</span>
          <span class="project__caption__used__item">YouTube API</span>
        </div>
      </figcaption>
    </div>

    <div class="project">
      <figure class="project__pic">
        <div class="iframe-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/FwNFPMfvDC0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="http://parttime.mfu.ac.th/" target="_blank">MFU Part-time Online</a>
          <div class="links">
            <span>
              <a href="http://parttime.mfu.ac.th/" target="_blank"><i class="ri-external-link-fill ri-lg"></i></a>
            </span>
            <!-- <span>
              <a href="https://github.com/sarapmax/MFU-Parttime-Information-System" target="_blank"><i class="ri-github-fill ri-lg"></i></a>
            </span> -->
          </div>
        </div>
        <p class="project__caption__detail">(A previous version of MFU JOBS System) A web application that transforms a paper-based process into a digital one. Students no longer need to visit the office in person to apply for part-time jobs; instead, they can conveniently submit their applications online and wait for admin approval.</p>
        <div class="project__caption__used">
          <span class="project__caption__used__item">Laravel</span>
          <span class="project__caption__used__item">Jquery</span>
          <span class="project__caption__used__item">Bootstrap</span>
          <span class="project__caption__used__item">MYSQL</span>
          <span class="project__caption__used__item">YouTube API</span>
        </div>
      </figcaption>
    </div>
  </div>
</section>
