<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project">
      <figure class="project__pic">
        <div class="iframe-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/sOYK6bB14Y4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://pre-internship.mfu.ac.th/" target="_blank">MFU Pre-internship Online V2</a>
          <div class="links">
            <span>
              <a href="https://pre-internship.mfu.ac.th/" target="_blank"><i class="ri-external-link-fill ri-lg"></i></a>
            </span>
            <!-- <span>
              <a href="https://github.com/sarapmax/MFU-Pre-Internship-Online" target="_blank"><i class="ri-github-fill ri-lg"></i></a>
            </span> -->
          </div>
        </div>
        <p class="project__caption__detail">This is the second version of MFU Pre-internship Online that was previously built serveral years ago.
          It is rebuilt from scratch based on the original requirements and many more add-on requirements. 
          The purpose of rebuilding of this system is to fix some bottle-neck issues, add-on requirements, improve the perfomance, make UI/UX more friendly to users and fully responsive.  
        </p>
        <div class="project__caption__used">
          <span class="project__caption__used__item">Nuxtjs (Frontend)</span>
          <span class="project__caption__used__item">Laravel (API)</span>
          <span class="project__caption__used__item">Vuetify</span>
          <span class="project__caption__used__item">TDD</span>
          <span class="project__caption__used__item">MYSQL</span>
          <span class="project__caption__used__item">YouTube API</span>
        </div>
      </figcaption>
    </div>
    <div class="project">
      <figure class="project__pic">
        <div class="iframe-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/CSU9odLwWXw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://internship.mfu.ac.th/" target="_blank">MFU Internship System</a>
          <div class="links">
            <span>
              <a href="https://internship.mfu.ac.th/" target="_blank"><i class="ri-external-link-fill ri-lg"></i></a>
            </span>
            <!-- <span>
              <a href="https://github.com/sarapmax/MFU-Job-Hunting-Online" target="_blank"><i class="ri-github-fill ri-lg"></i></a>
            </span> -->
          </div>
        </div>
        <p class="project__caption__detail">MFU Internship System is used by students to submit their internship application and internship information before, during, and after internship period. Also, it’s used by teachers to approve students’ internship applications and staff to operate the back-office system.</p>
        <div class="project__caption__used">
          <span class="project__caption__used__item">Laravel</span>
          <span class="project__caption__used__item">Vue</span>
          <span class="project__caption__used__item">Bootstrap</span>
          <span class="project__caption__used__item">MYSQL</span>
        </div>
      </figcaption>
    </div>
    <div class="project">
      <figure class="project__pic">
        <a href="http://jobhunting.mfu.ac.th/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/job-hunting/home.jpg" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="http://jobhunting.mfu.ac.th/" target="_blank">MFU Job Hunting</a>
          <div class="links">
            <span>
              <a href="http://jobhunting.mfu.ac.th/" target="_blank"><i class="ri-external-link-fill ri-lg"></i></a>
            </span>
            <!-- <span>
              <a href="https://github.com/sarapmax/MFU-Job-Hunting-Online" target="_blank"><i class="ri-github-fill ri-lg"></i></a>
            </span> -->
          </div>
        </div>
        <p class="project__caption__detail">A web app that the university provides for students to find their desired jobs. Companies can also get into the web
          to make their profile and start posting jobs.</p>
        <div class="project__caption__used">
          <span class="project__caption__used__item">Laravel</span>
          <span class="project__caption__used__item">Vue</span>
          <span class="project__caption__used__item">TailwindCSS</span>
          <span class="project__caption__used__item">TDD</span>
          <span class="project__caption__used__item">MYSQL</span>
        </div>
      </figcaption>
    </div>

    <div class="project">
      <figure class="project__pic">
        <a href="https://140.116.177.47/ivits/student/casestories?courseId=Course_20191226184530&caseStoryId=2&studentId=stu2" target="_blank">
          <img src="{{site.baseurl}}/img/featured/ivits/home.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://140.116.177.47/ivits/student/casestories?courseId=Course_20191226184530&caseStoryId=2&studentId=stu2" target="_blank">The Interactive Voice Interview Training System</a>
          <div class="links">
            <span>
              <a href="https://140.116.177.47/ivits/student/casestories?courseId=Course_20191226184530&caseStoryId=2&studentId=stu2" target="_blank"><i class="ri-external-link-fill ri-lg"></i></a>
            </span>
          </div>
        </div>
        <p class="project__caption__detail">The IVITS system was my thesis when I was doing a master's degree in Taiwan. The system is researched and developed to
          help students develop and sharpen their interview, investigation, and interrogation skills by virtual training instead
          of traditional training that can be time-consuming, labor-intensive, disruptive, and costly.</p>
        <div class="project__caption__used">
          <span class="project__caption__used__item">ASP.NET Core</span>
          <span class="project__caption__used__item">Vue</span>
          <span class="project__caption__used__item">Bootstrap</span>
          <span class="project__caption__used__item">MSSQL</span>
          <span class="project__caption__used__item">Azure Cognitive Services API </span>
          <span class="project__caption__used__item">Text-to-speech & Speech-to-text</span>
          <span class="project__caption__used__item">Crazytalk Animator Program</span>
        </div>
      </figcaption>
    </div>

    <div class="project">
      <figure class="project__pic">
        <div class="iframe-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/_N5zi4KktGc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="http://pre-internship.mfu.ac.th/" target="_blank">MFU Pre-internship Online</a>
          <div class="links">
            <span>
              <a href="http://pre-internship.mfu.ac.th/" target="_blank"><i class="ri-external-link-fill ri-lg"></i></a>
            </span>
            <!-- <span>
              <a href="https://github.com/sarapmax/MFU-Pre-Internship-Online" target="_blank"><i class="ri-github-fill ri-lg"></i></a>
            </span> -->
          </div>
        </div>
        <p class="project__caption__detail">MFU Pre-internship Online is used to prepare third and fourth-year students (about 2,000 per year)
          to be ready for their upcoming internships. The web app requires students to do several things to pass
          the program such as, watching videos & taking quizzes, doing assessments, printing out the result.
        </p>
        <div class="project__caption__used">
          <span class="project__caption__used__item">Laravel</span>
          <span class="project__caption__used__item">AngularJS</span>
          <span class="project__caption__used__item">Bootstrap</span>
          <span class="project__caption__used__item">MYSQL</span>
          <span class="project__caption__used__item">YouTube API</span>
        </div>
      </figcaption>
    </div>

    <div class="project">
      <figure class="project__pic">
        <div class="iframe-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/FwNFPMfvDC0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="http://parttime.mfu.ac.th/" target="_blank">MFU Part-time Online</a>
          <div class="links">
            <span>
              <a href="http://parttime.mfu.ac.th/" target="_blank"><i class="ri-external-link-fill ri-lg"></i></a>
            </span>
            <!-- <span>
              <a href="https://github.com/sarapmax/MFU-Parttime-Information-System" target="_blank"><i class="ri-github-fill ri-lg"></i></a>
            </span> -->
          </div>
        </div>
        <p class="project__caption__detail">A web app that turns paper-based into computer-based. Students no longer have to walk-in to the
          office when they want to apply for part-time jobs since they can use the web app to apply online
          and then wait for the admin to confirm their application.</p>
        <div class="project__caption__used">
          <span class="project__caption__used__item">Laravel</span>
          <span class="project__caption__used__item">Jquery</span>
          <span class="project__caption__used__item">Bootstrap</span>
          <span class="project__caption__used__item">MYSQL</span>
          <span class="project__caption__used__item">YouTube API</span>
        </div>
      </figcaption>
    </div>
  </div>
</section>
